div.tweet
{
  display:inline-block;
  width:330px;

  padding-left: 10px;
  padding-right: 10px;
  padding-top:0px;
  padding-bottom:5px;

  
  margin-left: 10px;
  margin-right: 2px;
  margin-top:5px;
  margin-bottom:5px;

  background-color: #ecf0f1;/*cloud*/
  transition: 0.4s;

  text-align:justify;
}

.tweet:hover {
    background-color: #fcf5f5;/*cloud*/
    transition: 0.4s;
    }

.tweet hr
 {
    display: block;
    margin: 5px 0 5px;
    padding: 0;
    height: 1px;
    color:#2980b9; /*bleu swag*/
    text-align: center;
    font-size: 60px;
}


.tweet .fa
{
  color:#2980b9;  /*bleu swag*/
}


.btn
{
  display:inline-block;

}


.btn-envelope
{
  text-align: center;
  margin-left:74px;
}


.btn-trash
{
  float:right;
}



.leaflet-clickable
{
	fill:#2980b9;
	stroke:#2980b9;
	stroke-width:2;
	
	
	
	
}

div.tweet a:hover {
    transform-origin: 50% 50%;
    transform: scale(1.2, 1.2);
    transition: 0.4s;
    }

.leaflet-popup-content-wrapper {
    width: 400px;
    
    }

#social input {
    padding: 10px;
    border: 1px solid #5886c2;
    border-radius: 0.8em;
    color:  #5886c2;
    transition: 0.4s;
    box-shadow: 3px 3px 3px rgba(190,190,190,0.7);
    }

#social input:hover {
    border-color: #98aedf;
    color: #98aedf;
    transition: 0.4s;
}



